record(bo, "$(name):SetRem")
{
	info(autosaveFields, "VAL")
	field(DESC, "set remote")
  	field(DTYP, "stream")
	field(OUT, "@tdk_compat.proto PSU-set(SYST:REM) $(ps)")
	field(ZNAM, "REM")
	field(ONAM, "REM")
	field(PINI, "YES")
}
